<mat-toolbar class='toolbar'>
  <mat-toolbar-row>
    <span><a class="navbar-brand" [routerLink]="['/']"><img src="/assets/images/logo.png" width="60" height="60"></a></span>
<span class="example-spacer"></span>
 <a *ngIf="userId" (click)='logOutUser()' href=""><button mat-raised-button color='primary'>
              Logout <mat-icon>exit_to_app</mat-icon>
            </button></a>   
    <!-- <a *ngIf="userId" class="" [routerLink]="['/signin']"><button mat-raised-button color='primary'>Login <mat-icon aria-label="Example icon-button with a heart icon">account_circle</mat-icon></button></a> -->
  </mat-toolbar-row>
</mat-toolbar>
