.toolbar {
  background-color: #fff;
  padding: 20px 30px 20px 30px; 
}

.fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.nav-link-signup, .nav-link-login {
  color: #fff;
}
