
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div>
        <h1>{{singleProduct['product']}}</h1>
        <h2>{{singleProduct.title}}</h2>
        <p>{{singleProduct.description}}</p>
      </div>
      <div *ngIf="!userIsAdvertiser">
        <form (submit)='onPostReview()'>
          <div class="example-container">
            <mat-form-field>
                <input matInput [(ngModel)]='title' type="text" id='title' name='title' placeholder='Add a title'>
            </mat-form-field>
            <mat-form-field>
              <textarea matInput [(ngModel)]='description' name='description' placeholder="Write a review"></textarea>
            </mat-form-field>

            <mat-form-field>
              <mat-select [(ngModel)]='rating' name='rating' placeholder="Rating">
                <mat-option value="1">1</mat-option>
                <mat-option value="2">2</mat-option>
                <mat-option value="3">3</mat-option>
                <mat-option value="4">4</mat-option>
                <mat-option value="5">5</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <button mat-raised-button color='primary' type='submit' matTooltip="Post review" matTooltipPosition="after" aria-label="Button that displays a tooltip when focused or hovered over" ><mat-icon>send</mat-icon></button>
        </form>
      </div>
    </div>
    <div class="col-md-4">
      <h2>Recent reviews:</h2>
      <div *ngFor='let review of reviewList'>
        <mat-accordion>
          <mat-expansion-panel (opened)="panelOpenState = true"
                               (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{review.title}}
              </mat-panel-title>
              <mat-panel-description>
                <mat-chip-list>
                  <mat-chip>Rating: {{review.reviewrating}}</mat-chip>
                </mat-chip-list>
              </mat-panel-description>
            </mat-expansion-panel-header>
                <p>{{review.description}}</p>
                <p><i>User rating: {{review.rating}}</i></p>
            <mat-action-row *ngIf="!userIsAdvertiser">
              <button mat-button> <a [routerLink]="['/review/add/comment', review.id, userId]">Comment</a></button>
              <button (click)='onLikeClicked(review.id, userId)' mat-button>Like</button>
              <button (click)='onDislikeClicked(review.id, userId)' mat-button>Dislike</button>
              <button (click)='onFlagClicked(review.id, userId)' mat-button>Flag</button>
            </mat-action-row>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </div>
</div>
