html
  head
    title Hugs for Bugs - #{title}
    link(rel="stylesheet" type="text/css" href="../css/style.css")
  body
    h2 Hugs for Bugs
    br
    h4 Homepage
    ul
      li
        a(href='/register') Register
      li
        a(href='#') Sign in
