form(method='post', action='/register')
  label(for='email') Email:
  input(name='email', id='email', type='email', placeholder='enter your email')
  br
  label(for='password') Password:
  input(name='password', id='password', type='password', placeholder='enter password')
  br
  button(type='submit') Register
