
* {
  font-family: 'Roboto', sans-serif;
}

.img-intro {
  height: 500px;
}

.home-sec-01 {
  margin-bottom: 200px;
  height: 400px;
}
.sec-01-text {
  padding-top: 150px;
}

.sec-02-img {
  height: 300px;
}
