  <app-navigation></app-navigation>
  <router-outlet></router-outlet>
  <!-- 
<div class="container-fluid">
</div>
  -->


<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <div class='jumbotron'>
        <div class="container">
          <app-intro></app-intro>
        </div>
      </div>

      <app-feed></app-feed>

    </div>

    <!--
    <div class="col-md-4">
      <div>
        <div class="container">
          <app-register></app-register>
        </div>
      </div>
      <br>
      <br>
      <div>
        <div class="container">
          <app-signin></app-signin>
        </div>
      </div>
    </div>
    -->

  </div>
</div>

  <app-footer></app-footer>



