
<h1>Sign up</h1>
<form>
    <div class="form-group">
        <label for="InputEmail1">Email address</label>
        <input type="email" class="form-control" id="InputEmail1" aria-describedby="emailHelp" placeholder="Email address">
    </div>
    <div class="form-group">
        <label for="InputPassword1">Password</label>
        <input type="password" class="form-control" id="InputPassword1" placeholder="Password">
    </div>
    <div class="form-group">
        <label for="InputPassword2">Re-enter Password</label>
        <input type="password" class="form-control" id="InputPassword2" placeholder="Password">
    </div>
    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="Check1">Remember me</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>



<form #form='ngForm' action="" novalidate>
  <div class="form-group">
    <label for="email">Email: </label>
    <input class='form-control' type="email" id='email' name='email' placeholder='enter your email' required [(ngModel)]='model.email'>
  </div>
  <div class="form-group">
    <label for="password">Password: </label>
    <input class='form-control' type="password" id='password' name='password' placeholder='enter password' [(ngModel)]='model.password'>
  </div>
  <button class='btn btn-primary' type='submit'>Register</button>
</form>

Model:-- {{ model | json }}
<br>
Angular:-- {{ form.value | json }}
