<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2 class='mat-display-4'>Sign Up</h2>
	<h2 class="mat-h2 mat-title">Sign up with your email address and password:</h2>
          <form (submit)='onRegisterSubmit()' novalidate>
            <div class="container-registerform">
              <mat-form-field>
                <mat-label><mat-icon>alternate_email</mat-icon> Enter your email address</mat-label>
                <input matInput [(ngModel)]='email' type="email" id='email' name='email' placeholder='Email Address'>
              </mat-form-field>
              <mat-form-field>
                <mat-label><mat-icon>vpn_key</mat-icon> Enter password</mat-label>
                <input matInput [(ngModel)]='password' type="password" id='password' name='password' placeholder='Password'>
              </mat-form-field>

              <p>Choose your role:</p>
              <mat-radio-group [(ngModel)]='userType' name='userType'>
                <mat-radio-button color='primary' value="productOwner">I want to promote my product</mat-radio-button>
                <br>
                <mat-radio-button color='primary' value="advertiser">I want to review products for cash</mat-radio-button>
              </mat-radio-group>

            </div>
            <button mat-mini-fab matTooltip="Sign Up" matTooltipPosition="after" aria-label="Button that displays a tooltip when focused or hovered over"  color='primary' type='submit'><mat-icon>arrow_forward_ios</mat-icon></button>
          </form>
    </div>
  </div>
</div>

