<div class="container">
  <a [routerLink]="['/profile']">
    <button mat-button matTooltip="Show Profile" matTooltipPosition="after" aria-label="Button that displays a tooltip when focused or hovered over"  color='primary'><mat-icon>arrow_back_ios</mat-icon> BACK</button>
  </a>

      <mat-card class="profile-edit">
	<mat-card-header>
	  <mat-card-title>Edit Profile</mat-card-title>
	</mat-card-header>
	<mat-card-content>
	  <form (submit)='onProfileEdit()' class="example-form">
    	    <mat-form-field class="example-full-width">
      	      <mat-label><mat-icon>alternate_email</mat-icon>Email address</mat-label>
      	      <input matInput name='email' [(ngModel)]='email' placeholder="Email Address" value={{user.email}}>
    	    </mat-form-field>
    	    <mat-form-field class="example-full-width">
      	      <mat-label><mat-icon>vpn_key</mat-icon>Password</mat-label>
      	      <input matInput name='password' type='password' [(ngModel)]='password' placeholder="Enter a new password" value={{user.password}}>
    	    </mat-form-field>
            <!--
    	    <label for="profilePicture">Upload image</label>
    	    <input type="file" id='profilePicture' (change)="onFileChanged($event)">
    	    <mat-divider></mat-divider>
	    <mat-card-header>
	      <mat-card-title>Banking Information</mat-card-title>
	    </mat-card-header>
	    <label>Account Type: </label>
	    <mat-radio-group>
  	      <mat-radio-button value="1">Individual</mat-radio-button>
  	      <mat-radio-button value="2">Company</mat-radio-button>
	    </mat-radio-group>
	    <mat-form-field class="example-full-width">
      	      <mat-label>Routing Number</mat-label>
      	      <input matInput name='email' [(ngModel)]='routing' placeholder="Routing Number" value={{user.routing}}>
    	    </mat-form-field>
	    <mat-form-field class="example-full-width">
      	      <mat-label>Account Number</mat-label>
      	      <input matInput name='email' [(ngModel)]='account' placeholder="Account Number" value={{user.account}}>
    	    </mat-form-field>
            -->
	    <button mat-button matTooltip="Update Profile" matTooltipPosition="after" aria-label="Button that displays a tooltip when focused or hovered over"  color='primary' type='submit'>Update Profile <mat-icon>arrow_forward_ios</mat-icon></button>
  	  </form>
	</mat-card-content>
      </mat-card>
</div>
