<mat-card *ngFor='let product of productList'>
  <div class="container">
    <div class="d-flex justify-content-between">
      <div>
        <mat-card-header>
          <mat-card-title>
            <h2>{{ product.product }}</h2>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <h5>{{ product.title }}</h5>
          <p>{{ product.description }}</p>
        </mat-card-content>
      </div>
      <div>
        <mat-card-content>
      <a *ngIf="!userIsAdvertiser" [routerLink]="['/review/add/', product.id]"><button mat-button color='primary'>Write a review <mat-icon>rate_review</mat-icon></button></a>
      <a *ngIf="userIsAdvertiser" [routerLink]="['/review/add/', product.id]"><button mat-button color='primary'>Reviews <mat-icon>rate_review</mat-icon></button></a>
      <!-- <a *ngIf="userIsAdvertiser" [routerLink]="['/review/stat/', product.id]"><button mat-button color='primary'>See Stat <mat-icon>insert_chart_outlined</mat-icon></button></a> -->
        </mat-card-content>
      </div>
   </div>
 </div>


</mat-card>
