<mat-card>


  <mat-card-content>
    <form (submit)='onReviewSubmit()'>
      <div class="container-reviewform">
        <mat-form-field>
        <input matInput [(ngModel)]='product' type="text" id='product' name='product' placeholder='Product name'>
        </mat-form-field>
        <mat-form-field>
        <input matInput [(ngModel)]='title' type="text" id='title' name='title' placeholder='Add a title'>
        </mat-form-field>
        <mat-form-field>
        <input matInput [(ngModel)]='description' type="text" id='description' name='description' placeholder='Add a description'>
        </mat-form-field>
        <mat-form-field>
        <input matInput [(ngModel)]='rating' type="text" id='rating' name='rating' placeholder='Add a rating'>
        </mat-form-field>
        <mat-card-actions>
            <button mat-raised-button color='primary' type='submit'>Submit</button>
        </mat-card-actions>
      </div>
    </form>
  </mat-card-content>

</mat-card>

